{% extends 'layout.html.twig' %}

{% block content %}
	<!-- Banner -->
	<section
		class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
			<ul class="slides">
				<li>
					<div class="tm-banner-inner">
						<h1 class="tm-banner-title">Your
							<span class="tm-yellow-text">Special</span>
							Tour</h1>
						<p class="tm-banner-subtitle">For Upcoming Holidays</p>
						<a href="#more" class="tm-banner-link">Contact Us</a>
					</div>
					<img src="img/banner-3.jpg" alt="Banner 3"/>
				</li>
			</ul>
		</div>
	</section>

	<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div
			class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<form {# action="/recibelogin" #} method="post" class="tm-contact-form">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<div class="col-lg-6 col-md-6 tm-contact-form-input">
								<div class="form-group">
									<input type="text" id="contact_name" class="form-control" placeholder="NAME" name='username' value="{{ last_username }}" id="inputUsername" required autofocus/>
								</div>
								<div class="form-group">
									<input type="password" name="password" id="inputPassword" class="form-control" placeholder="PASSWORD" required/>
								</div>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

								<div class="form-group">
								<button class="tm-submit-btn" type="submit" name="submit">
									<a class="tm-submit-btn" type="submit" name="submit" href="/login"/>Login</a></button>
									<button class="tm-submit-btn" type="submit" name="submit">
								<a class="tm-submit-btn" type="submit" name="submit" href="/register"/>Registrar</a></button>
						</div>
					</li>
				</div>
			</form>
		</li>
	</ul>
</div></div></section>{% endblock %}{# 	<!-- white bg -->
		
		<footer class="tm-black-bg">
			<div class="container">
				<div class="row">
					<p class="tm-copyright-text">Copyright &copy; 2084 Your Company Name</p>
				</div>
			</div>		
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
		<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
		<script>
			/* Google map
	      	------------------------------------------------*/
	      	var map = '';
	      	var center;
	
	      	function initialize() {
		        var mapOptions = {
		          	zoom: 14,
		          	center: new google.maps.LatLng(37.769725, -122.462154),
		          	scrollwheel: false
	        	};
	        
		        map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);
	
		        google.maps.event.addDomListener(map, 'idle', function() {
		          calculateCenter();
		        });
	        
		        google.maps.event.addDomListener(window, 'resize', function() {
		          map.setCenter(center);
		        });
	      	}
	
		    function calculateCenter() {
		        center = map.getCenter();
		    }
	
		    function loadGoogleMap(){
		        var script = document.createElement('script');
		        script.type = 'text/javascript';
		        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
		        document.body.appendChild(script);
		    }
		
	      	// DOM is ready
			$(function() {
	
				// https://css-tricks.com/snippets/jquery/smooth-scrolling/
				$('a[href*=#]:not([href=#])').click(function() {
					if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
						if (target.length) {
							$('html,body').animate({
								scrollTop: target.offset().top
							}, 1000);
							return false;
						}
					}
				});
	
			  	// Flexslider
			  	$('.flexslider').flexslider({
			  		controlNav: false,
			  		directionNav: false
			  	});
	
			  	// Google Map
			  	loadGoogleMap();
			  });
		</script>
		
		<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
	  	<script type="text/javascript" src="js/moment.js"></script>							<!-- moment.js -->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
		<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>	<!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
	
		<script src="js/froogaloop.js"></script>
		<script src="js/jquery.fitvid.js"></script>
	
	   	<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
		<script>
			// HTML document is loaded. DOM is ready.
			$(function() {
				$('#hotelCarTabs a').click(function (e) {
				  e.preventDefault()
				  $(this).tab('show')
				})
	        	$('.date').datetimepicker({
	            	format: 'MM/DD/YYYY'
	            });
	            $('.date-time').datetimepicker();
				// https://css-tricks.com/snippets/jquery/smooth-scrolling/
			  	$('a[href*=#]:not([href=#])').click(function() {
				    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				      var target = $(this.hash);
				      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				      if (target.length) {
				        $('html,body').animate({
				          scrollTop: target.offset().top
				        }, 1000);
				        return false;
				      }
				    }
			  	});
			});
			
			// Load Flexslider when everything is loaded.
			$(window).load(function() {	  		
	
				  
	//	For images only
			    $('.flexslider').flexslider({
				    controlNav: false
			    });
		  	});
		</script>
	</body>
	</html> #}
