{% extends 'layout.html.twig' %}

{% block content %}
	<!-- Banner -->
	<section
		class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
			<ul class="slides">
				<li>
					<div class="tm-banner-inner">
						<h1 class="tm-banner-title">Your
							<span class="tm-yellow-text">Special</span>
							Tour</h1>
						<p class="tm-banner-subtitle">For Upcoming Holidays</p>
						<a href="#more" class="tm-banner-link">Contact Us</a>
					</div>
					<img src="img/banner-3.jpg" alt="Banner 3"/>
				</li>
			</ul>
		</div>
	</section>

	<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div
			class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<form method="post" class="tm-contact-form">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{# 							{% if app.user %}
																																				<div class="mb-3">
																																					You are logged in as
																																					{{ app.user.username }},
																																					<a href="{{ path('app_logout') }}">Logout</a>
																																				</div>
																																			{% endif %} #}

							<div class="col-lg-6 col-md-6 tm-contact-form-input">
								<div class="form-group">
									<input type="text" id="contact_name" class="form-control" placeholder="NAME" name='username' value="{{ last_username }}" id="inputUsername" required autofocus/>
								</div>
								<div class="form-group">
									<input type="password" name="password" id="inputPassword" class="form-control" placeholder="PASSWORD" required/>
								</div>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

								<div class="form-group">
									<button type="submit">Sign In</button>
								</div>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
