{% extends 'layout.html.twig' %}

{% block content %}
	<div class="example-wrapper">

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/Users/user/DAW2EHE/src/Controller/RegisterController.php'|file_link(0) }}">src/Controller/RegisterController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/Users/user/DAW2EHE/templates/register/index.html.twig'|file_link(0) }}">templates/register/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
	<!-- Banner -->
	<section
		class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
			<ul class="slides">
				<li>
					<div class="tm-banner-inner">
						<h1 class="tm-banner-title">Your
							<span class="tm-yellow-text">Special</span>
							Tour</h1>
						<p class="tm-banner-subtitle">For Upcoming Holidays</p>
						<a href="#more" class="tm-banner-link">Contact Us</a>
					</div>
					<img src="img/banner-3.jpg" alt="Banner 3"/>
				</li>
			</ul>
		</div>
	</section>

	<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div
			class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						{{ form_start(form) }}
						{{ form_row(form.username) }}
						{{ form_row(form.password) }}

						<button type="submit">Register!</button>
						{{ form_end(form) }}
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
